html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a, .btn-link {
    color: #006bb7;
}

.navv{
    text-decoration:none;
    color:#000000;
}

.btn-primary {
    color: #fff;
    background-color: #3b0647;
    border-color: #3b0647;
}

    .btn-primary:hover {
        background-color: #182162;
        border-color: #182162;
    }
::placeholder
{
    color:#999999 !important;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    /*box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;*/
}

.content {
    padding-top: 1.1rem;
}

h1:focus {
    outline: none;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid #e50000;
}

.validation-message {
    color: #e50000;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}

.blazor-error-boundary {
    background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTYiIGhlaWdodD0iNDkiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIG92ZXJmbG93PSJoaWRkZW4iPjxkZWZzPjxjbGlwUGF0aCBpZD0iY2xpcDAiPjxyZWN0IHg9IjIzNSIgeT0iNTEiIHdpZHRoPSI1NiIgaGVpZ2h0PSI0OSIvPjwvY2xpcFBhdGg+PC9kZWZzPjxnIGNsaXAtcGF0aD0idXJsKCNjbGlwMCkiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0yMzUgLTUxKSI+PHBhdGggZD0iTTI2My41MDYgNTFDMjY0LjcxNyA1MSAyNjUuODEzIDUxLjQ4MzcgMjY2LjYwNiA1Mi4yNjU4TDI2Ny4wNTIgNTIuNzk4NyAyNjcuNTM5IDUzLjYyODMgMjkwLjE4NSA5Mi4xODMxIDI5MC41NDUgOTIuNzk1IDI5MC42NTYgOTIuOTk2QzI5MC44NzcgOTMuNTEzIDI5MSA5NC4wODE1IDI5MSA5NC42NzgyIDI5MSA5Ny4wNjUxIDI4OS4wMzggOTkgMjg2LjYxNyA5OUwyNDAuMzgzIDk5QzIzNy45NjMgOTkgMjM2IDk3LjA2NTEgMjM2IDk0LjY3ODIgMjM2IDk0LjM3OTkgMjM2LjAzMSA5NC4wODg2IDIzNi4wODkgOTMuODA3MkwyMzYuMzM4IDkzLjAxNjIgMjM2Ljg1OCA5Mi4xMzE0IDI1OS40NzMgNTMuNjI5NCAyNTkuOTYxIDUyLjc5ODUgMjYwLjQwNyA1Mi4yNjU4QzI2MS4yIDUxLjQ4MzcgMjYyLjI5NiA1MSAyNjMuNTA2IDUxWk0yNjMuNTg2IDY2LjAxODNDMjYwLjczNyA2Ni4wMTgzIDI1OS4zMTMgNjcuMTI0NSAyNTkuMzEzIDY5LjMzNyAyNTkuMzEzIDY5LjYxMDIgMjU5LjMzMiA2OS44NjA4IDI1OS4zNzEgNzAuMDg4N0wyNjEuNzk1IDg0LjAxNjEgMjY1LjM4IDg0LjAxNjEgMjY3LjgyMSA2OS43NDc1QzI2Ny44NiA2OS43MzA5IDI2Ny44NzkgNjkuNTg3NyAyNjcuODc5IDY5LjMxNzkgMjY3Ljg3OSA2Ny4xMTgyIDI2Ni40NDggNjYuMDE4MyAyNjMuNTg2IDY2LjAxODNaTTI2My41NzYgODYuMDU0N0MyNjEuMDQ5IDg2LjA1NDcgMjU5Ljc4NiA4Ny4zMDA1IDI1OS43ODYgODkuNzkyMSAyNTkuNzg2IDkyLjI4MzcgMjYxLjA0OSA5My41Mjk1IDI2My41NzYgOTMuNTI5NSAyNjYuMTE2IDkzLjUyOTUgMjY3LjM4NyA5Mi4yODM3IDI2Ny4zODcgODkuNzkyMSAyNjcuMzg3IDg3LjMwMDUgMjY2LjExNiA4Ni4wNTQ3IDI2My41NzYgODYuMDU0N1oiIGZpbGw9IiNGRkU1MDAiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPjwvZz48L3N2Zz4=) no-repeat 1rem/1.8rem, #b32121;
    padding: 1rem 1rem 1rem 3.7rem;
    color: white;
}

    .blazor-error-boundary::after {
        content: "An error has occurred."
    }

.status-bar-safe-area {
    display: none;
}


.loader {
    position:relative;
    padding-block:10px;
    text-align:left;
    opacity: 0.5;
    -webkit-animation: load 1s linear infinite;
    animation: load 1s linear infinite;
}

@keyframes load{
    0% {opacity:0.1;}
    50%{opacity:0.6;}
    0% {opacity:0.1}
}


::-webkit-scrollbar
{
    height:7px;
    width:7px;
}

::-webkit-scrollbar-thumb
{
    background-color:#eaeaea;
    border-radius:10px;
}

.page-ems
{
    position:relative;
    display:grid;
    grid-template-columns: auto 450px;
    align-items:start;
    gap:30px;
    padding-bottom:50px;
}

.nav-ems
{
   padding-inline:15px !important;
   display:flex;
   flex-flow:row nowrap;
   gap:10px;
}

.nav-ems span
{
    display:inline-block;
    
}

.page-section-ems {
    overflow-y: auto;
    border-radius:10px;
    padding-inline:7px;
}

.page-section-ems:nth-child(2) {
    max-height: 600px;
    overflow-y: auto;
    padding-inline: 20px;
    box-shadow: -2px 2px 15px 0px rgba(50,50,50,0.1);
    position:sticky;
    top:60px;
 }

input[type="search"] {
    position: relative;
    box-shadow: 1px 2px 10px 0px rgba(50,50,50,0.15);
    border: none;
    height: 58px;
    padding-right:0px;
    max-width:250px;
   
    
}

table{
    width:100%;
    table-layout:fixed;
}

input, select {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

td, th {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
 
   
}

td:nth-child(1) {
        white-space: inherit;
        overflow: inherit;
        text-overflow: inherit;
      max-width:40px !important;
    }

td:nth-last-child(1){
    white-space:inherit;
    overflow:inherit;
    text-overflow:inherit;
    max-width:max-content;
}

.page-header-ems
{
    padding-block:20px;
    background-color:#ffffff;    
    position:sticky;
    top:60px;    
    z-index:2;
    padding-left:0px;
}

.page-header-ems-section
{
    display:grid;
    grid-template-columns:repeat(4,1fr);
 
    gap:10px;    
}



.action-box,
.header-btn-box {
    display: flex;
    flex-direction: row;
}

.header-btn-box button {
    width: 2.5rem;
    margin-right: 0.6rem;
}


.thead-border {
}

thead {
    position: sticky;
    top: 0px;
    border-bottom: solid 3px #000000;
}

tbody tr {
    cursor: pointer;
    user-select: none;
    
}

.tr-head
{
    border-bottom:solid 2px #f1f1f1;
}

tbody tr:hover td {
    color: #727098;
}

td{
    vertical-align:middle;
}

h1, h2, h4
{
    font-weight:700;
}

.h2
{
    position:sticky;
    top:0px;
    background-color:#ffffff;
    z-index:1;
    display:flex;
    flex-flow:row nowrap;
    align-items:center;
    justify-content:space-between;
    gap:20px;
    padding-block:20px;
    font-weight:700;
}

.home-section
{
    display:flex;
    flex-flow:row wrap;
    gap:30px;
    margin-top:20px;
}

.home-section1 {
    display: grid;
    grid-template-columns:1fr 1fr;
    gap: 30px;
    margin-top: 20px;
}

.hs1 {
    padding: 40px;
    background-color: #ffffff;
    box-shadow: 2px 2px 10px 0px rgba(50,50,50,0.1);
  
    border-radius: 15px;
    transition: all 0.2s ease-in-out;
}

.home-sub-section {
    padding: 40px;
    width:200px;
    background-color: #ffffff;
    box-shadow: 2px 2px 10px 0px rgba(50,50,50,0.1);
    text-align:center;
    border-radius:15px;
    transition: all 0.2s ease-in-out;
}

.home-sub-section:hover {

    transform: translate(0px,-5px);
    outline: 5px solid #3b0647;
}

.home-sub-section span
{
    font-size:4rem;
    font-weight:800;
    color:#3b0647;
}

.inactive td, .inactive a
{
    color:#bababa !important;
}

label
{
    color:#999999;
}

.td-actions
{
    text-align:right;
    
}

.td-actions button
{
    float:right;
}

.button-holder-ems
{
    position:relative;
    display:flex;
    flex-flow:row wrap;
    align-items:center;
    justify-content:flex-start;
    gap:10px;
    vertical-align:middle;
}

button {
    display: flex !important;
    flex-flow: row nowrap !important;
    align-items: center !important;
    justify-content: center !important;
    gap:5px !important;
}

@supports (-webkit-touch-callout: none) {
    .status-bar-safe-area {
        display: flex;
        position: sticky;
        top: 0;
        height: env(safe-area-inset-top);
        background-color: #f7f7f7;
        width: 100%;
        z-index: 1;
    }

    .flex-column, .navbar-brand {
        padding-left: env(safe-area-inset-left);
    }
}
